* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 10%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.htmlResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: flex;
    flex-direction: column;
    /* deixa as linhas empilhadas */
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* espaço entre as linhas */
}

.linha1,
.linha2,
.linha3,
.linha4 {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* espaço entre os botões */
}

button {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.ce,
.c {
    width: 90px;
}
